img, legend {
    border: 0
}

legend, td, th {
    padding: 0
}

.connect, .download-container, .logo {
    z-index: 10;
    position: relative
}

.connect, .logo, sub, sup {
    position: relative
}

html {
    font-family: -apple-system, SF UI Text, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-text-size-adjust: 100%;
    background-color: #fff
}

html {
    font-size: 60px;
}

body {
    margin: 0;
    background-color: #fff
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden], template {
    display: none
}

a {
    background-color: transparent
}

a:active, a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b, optgroup, strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    display: block
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0
}

pre, textarea {
    overflow: auto
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button, select {
    text-transform: none
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled], html input[disabled] {
    cursor: default
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

address, b, em, i {
    font-style: normal
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

.xhs html {
    -webkit-user-select: none
}

.xhs a, .xhs div {
    -webkit-tap-highlight-color: transparent
}

.container {
    display: none;
    margin: 0 auto
}

.hints {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: .2rem auto;
    text-align: center;
    font-size: .32rem;
    color: #666
}

.deeplink-open, .open-in-safari, .pull-to-show {
    display: none
}

.pull-to-show span {
    display: inline-block;
    margin-left: .1rem;
    width: .24rem;
    height: .14rem;
    vertical-align: 2px;
    background-image: url(/images/download.png);
    background-size: 100% 100%
}

.deeplink-open a {
    color: #666;
    text-decoration: underline
}

.logo {
    margin: 2.3rem auto 0;
    width: 2rem;
    height: 2rem;
    background-image: url(/images/logo.png);
    background-size: 100% 100%
}

.connect {
    margin-top: .4rem
}

.connect h2 {
    font-weight: 400;
    font-size: .4rem;
    text-align: center;
    color: #666
}

.download-container {
    margin: .6rem auto 0
}

.download-container span {
    display: block;
    font-size: .28rem;
    text-align: center;
    color: #333
}

.download-container button {
    display: block;
    margin: .4rem auto 0;
    width: 4.4rem;
    height: .88rem;
    background-color: blue;
    font-size: .32rem;
    color: #ff2741;
    border: 1px solid blue;
    border-radius: .4rem
}

.decor {
    position: fixed;
    z-index: -1
}

.decor.bottom {
    right: 0;
    bottom: 0;
    width: 7.5rem;
    height: 5rem;
    background-image: url(/images/logo.png);
    background-size: 100% 100%
}

.container#weixin {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: -webkit-linear-gradient(-138deg, #ff616d 0, #ff2442 100%);
    background-image: -o-linear-gradient(-138deg, #ff616d 0, #ff2442 100%);
    background-image: linear-gradient(-138deg, #ff616d 0, #ff2442 100%)
}

.container .bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(/images/logo.png);
    background-size: 100% 100%
}

.indicate {
    position: absolute;
    top: 1rem;
    left: 1.36rem;
    width: 4.22rem;
    height: 1.22rem;
    background-image: url(/images/logo.png);
    background-size: 100% 100%
}

#android-indicator {
    display: none
}

.indicator {
    position: absolute;
    top: .42rem;
    right: .8rem;
    width: .52rem;
    height: 1.92rem;
    background-image: url(/images/logo.png);
    background-size: 100% 100%
}

.main-bg {
    position: relative;
    margin: 3.2rem auto 0;
    width: 4.8rem;
    height: 9.66rem
}

.card {
    position: relative;
    margin: 0 auto;
    width: 4.8rem;
    height: 9.66rem;
    background-image: url(/images/logo.png);
    background-size: 100% 100%
}

.safari {
    position: absolute;
    top: -.6rem;
    right: -.6rem;
    width: 2rem;
    height: 2rem;
    background-image: url(/images/logo.png);
    background-size: 100% 100%
}

.bottom-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.32rem;
    background-color: #fff
}

.logo-sm {
    float: left;
    width: .72rem;
    height: .72rem;
    margin: .3rem .2rem .3rem .3rem;
    background-image: url(/images/logo.png);
    background-size: 100% 100%
}

.content {
    float: left;
    font-size: .3rem;
    height: .72rem;
    padding: .32rem 0
}

.content h3 {
    margin: 0;
    font-size: .26rem;
    font-weight: 400
}

.content p {
    margin: .04rem 0 0;
    font-size: .22rem;
    color: #999
}

.bottom-bar .manual-download {
    display: block;
    float: right;
    width: 1.44rem;
    height: .52rem;
    margin: .4rem .3rem .4rem 0;
    border-radius: .3rem;
    background-color: #ff2741;
    color: #fff;
    font-size: .26rem;
    border: none;
    padding: 0;
    text-align: center
}
