img, legend {
    border: 0
}

legend, td, th {
    padding: 0
}

.connect, .download-container, .logo {
    z-index: 10;
    position: relative
}

.connect, .logo, sub, sup {
    position: relative
}

html {
    font-family: -apple-system, SF UI Text, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-text-size-adjust: 100%;
    background-color: #fff
}

html {
    font-size: 60px;
}

body {
    margin: 0;
    background-color: #fff
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden], template {
    display: none
}

a {
    background-color: transparent
}

a:active, a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b, optgroup, strong {
    font-weight: 700
}


button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button, select {
    text-transform: none
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled], html input[disabled] {
    cursor: default
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}


.container {
    display: none;
    margin: 0 auto
}

.hints {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: .2rem auto;
    text-align: center;
    font-size: .32rem;
    color: #666
}

.deeplink-open, .open-in-safari, .pull-to-show {
    display: none
}

.pull-to-show span {
    display: inline-block;
    margin-left: .1rem;
    width: .24rem;
    height: .14rem;
    vertical-align: 2px;
    background-image: url(/images/download.png);
    background-size: 100% 100%
}

.deeplink-open a {
    color: #666;
    text-decoration: underline
}

.logo {
    margin: 2.3rem auto 0;
    width: 5rem;
    height: 5rem;
    background-image: url(/images/logo.png);
    background-size: 100% 100%;
    border: 1px solid #0000ff;
    border-radius: 50%;
}

.connect {
    margin-top: .4rem
}

.connect h2 {
    font-weight: 400;
    font-size: .5rem;
    text-align: center;
    color: #353535
}

.download-container {
    margin: .7rem auto 0
}

.download-container button {
    display: block;
    margin: .4rem auto 0;
    width: 4.4rem;
    height: .88rem;
    background-color: #fff;
    font-size: .32rem;
    color: blue;
    border: 1px solid blue;
    border-radius: .4rem
}

#android-indicator {
    display: none
}

.indicator {
    position: absolute;
    top: .42rem;
    right: .8rem;
    width: .52rem;
    height: 1.92rem;
    background-image: url(/images/logo.png);
    background-size: 100% 100%
}
